<div class="background"></div>
<app-user-bar></app-user-bar>
<div class="character" *ngIf="activeCharacter">
  <div class="character-data">
    <div class="character-props">
      <div class="prop">
        <div
          class="prop-display"
          [ngClass]="{
            dark: activeCharacter.side == 'DARK'
          }"
        ></div>
        <div class="prop-meta">
          <div class="prop-title">Oldal</div>
          <div class="prop-value">
            {{ activeCharacter.side == "DARK" ? "Sötét" : "Világos" }}
          </div>
        </div>
      </div>
      <div class="prop">
        <div class="prop-display prop-power">
          <img src="/assets/star.png" alt="star" />
        </div>
        <div class="prop-meta">
          <div class="prop-title">Különleges erő</div>
          <div class="prop-value">{{ activeCharacter.force.power }}</div>
        </div>
      </div>
    </div>
    <h1
      class="character-name"
      [innerHTML]="activeCharacter.name.toLowerCase()"
    ></h1>
    <p class="character-desc">{{ activeCharacter.description }}</p>
    <div class="character-modules">
      <h3>Modulok</h3>
      <section>
        <h4>Szimuláció</h4>
        <div class="section-details">
          <p>Válasz két karaktert ellentétes oldalról</p>
          <div class="section-actions">
            <button
              [class.selected]="selectedCharacters.includes(activeCharacter)"
              (click)="selectCharacter(activeCharacter)"
            >
              Karakter kiválasztása
            </button>
            <button *ngIf="isSelectedCharactersFull()" (click)="startBattle()">
              Küzdelem indítása
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="character-design">
    <div class="navigation">
      <div class="paginator">
        <button
          *ngFor="let character of characters; index as characterIndex"
          [class.current]="characterIndex == activeCharacterIndex"
          [class.selected]="isCharacterAlreadySelected(character)"
          (click)="jumpTo(characterIndex)"
        ></button>
      </div>
      <div class="arrows">
        <button (click)="goBack()" class="back">
          <img src="/assets/arrow_circle.png" alt="back" />
        </button>
        <button (click)="goForward()" class="forward">
          <img src="/assets/arrow_circle.png" alt="forward" />
        </button>
      </div>
    </div>
    <img
      src="/assets/{{ activeCharacter.id }}.png"
      alt="{{ activeCharacter.name }}"
      class="character-design"
    />
  </div>
</div>
